        body{
            font-family: arial;
        }

        .container{
            background-color: #E5CCC8;
        }

        .header{
            padding: 1em;
            display: flex;
        }

        .headname{
            color: #522632;
            margin-right: 20px;
        }

        .headpic img{
            width: 100%;
        }

        @media(min-width: 800px ){
            .headpic img{
                width: 100%;
            }
        }

        .main1, .main2, .main3{
            padding: 20px;
        }

        .main1 h2, .main2 h2, .main3 h2{
            color: #6F3B48;
        }

        .india img{
            padding-right: 1em;
            width: 10em;
            height: 10em;
        }

        @media(min-width: 800px ){
            .india img{
                float: left;
            }

            .indiaText{
                overflow: auto;
            }
        }

        table, th,td{
            border: 1px solid black;
            border-collapse: collapse;
        }

        table{
            width: 100%;
        }

        .content3a, .content3b, .content3c{
            display: flex;
            margin-bottom: 20px;
        }

        .fact1, .fact3, .image2{
            margin-right: 10px;
        }

        .image1, .image2, .image3{
            margin-top: 50px;
        }

        @media(min-width:800px){
            .image2{
                order:2;
            }

            .content3{
                display:flex;
            }

            .content3a, .content3b, .content3c{
                margin-right: 20px;
            }

            .image1, .image2, .image3{
                margin-top: 20px;
            }
        }